// tailwindcss config
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts.scss";

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: theme("colors.slate.900");
  color: white;
}
